.format {
  position: relative;
  z-index: 1;
}

.format__link {
  position: absolute;
  inset: 0;
  margin: 0;

  &::before {
    content: "";
    background-image: linear-gradient(var(--color-violet), var(--color-violet)),
      linear-gradient(
        var(--color-bright-turquoise),
        var(--color-bright-turquoise)
      );
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    background-size: 0 100%;
    background-repeat: no-repeat, no-repeat;
    border: 1px solid transparent;
    position: absolute;
    inset: calc(var(--space-xs) * -1);
    z-index: -1;
    opacity: 0;
    transition: opacity 0.2s ease-out, background-size 0.1s 0.3s ease-out;
  }

  @media (any-pointer: fine) and (any-hover: hover) {
    &:hover::before {
      transition: background-size 0.5s ease-out;
      background-size: 100% 100%, 180% 100%;
      opacity: 1;
    }
  }

  &:focus-visible {
    outline: 1px solid var(--color-bright-turquoise);
    outline-offset: var(--space-xs);
  }
}
