.location__image {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    top: 90%;
    bottom: 5%;
    background: linear-gradient(
      0deg,
      var(--color-bright-turquoise) 50%,
      0,
      var(--color-persian-rose)
    );
    mix-blend-mode: color;
    opacity: 1;
  }
}
