.slider {
  max-width: 100%;
  overflow: scroll;

  &:focus-visible {
    outline: 1px solid var(--color-bright-turquoise);
    outline-offset: var(--space-xs);
  }
}

.slider__row {
  display: flex;
  gap: var(--gap, var(--space-m));
  align-items: flex-start;
  height: min(37.5rem, 120vw);
  padding-bottom: 1rem;
  width: max-content;

  picture {
    height: 100%;
    width: auto;

    img {
      height: 100%;
      width: auto;
    }
  }
}
