{% set assetHash = global.random() %}
<!DOCTYPE html>
<html lang="de" class="no-js">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% include "partials/meta-info.njk" %}

    {% if env.nodeenv !== 'production' %}
      <!-- We're not in production mode -->
      <link rel="stylesheet" href="/assets/css/global.css" />
    {% endif %}

  </head>

  <body data-background="{{'keyvisual' if keyvisual == "true" }}" {{ "class=chrome-hidden" if hideChrome == "true"}}>
    {% if not(hideChrome == "true") %}
      {% include "partials/site-head.njk" %}

      <a href="/{{ ctfl.pageEnglisch.title | slug }}/" class="language-sticky" aria-label="information in english">
        {% icon icon = "flag" %}
      </a>
    {% endif %}

    <main tabindex="-1" id="main-content">
      {% block content %}{% endblock %}
    </main>

    {% if not(hideChrome == "true") %}
      {% include "partials/site-foot.njk" %}
    {% endif %}

    {% script src = "global.js" %}
  </body>
</html>