.abbr-popup {
  text-decoration: none;
  padding-inline: 0.1em;
  margin-inline: -0.1em;
  cursor: help;

  &:before {
    @include apply-utility("text", "step-0");
    content: attr(title);
    content: attr(title) / "";
    display: none;
    text-align: left;
    position: absolute;
    background: var(--color-brightTurquoise);
    color: var(--color-black);
    @include apply-utility("weight", "regular");
    line-height: 1.5;
    text-transform: none;
    width: 80vw;
    padding: var(--space-xs);
    top: 0;
    left: 50%;
    transform: translate(-50%, calc(-100% - 1.5em));
    box-shadow: 0.5rem 0.5rem 0.125rem #000;
  }

  &:focus,
  &:hover {
    &:before,
    &:after {
      display: block;
    }
  }

  &:focus {
    outline: none;
    background: linear-gradient(
      transparent 10%,
      0,
      var(--color-brightTurquoise) 90%,
      0,
      transparent
    );
    color: var(--color-violet);
  }

  @include media-query("md") {
    position: relative;

    &:before {
      width: 30ch;
      left: 0;
      transform: translate(0, calc(-100% - 2.5em));
    }

    &:after {
      @include apply-utility("text", "step-0");
      content: "";
      display: none;
      width: 0;
      height: 0;
      border-width: 2.5em 0.75em 0 0.75em;
      border-color: var(--color-brightTurquoise) transparent transparent
        transparent;
      border-style: solid;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-100%, -2.75em);
      filter: drop-shadow(0.5rem 0.5rem 0.125rem #000);
    }
  }
}
