.abbr-popup {
  position: relative;
  text-decoration: none;
  padding-inline: 0.1em;
  margin-inline: -0.1em;
  cursor: help;

  &:before {
    content: attr(title);
    display: none;
    text-align: left;
    position: absolute;
    background: var(--color-brightTurquoise);
    color: var(--color-black);
    @include apply-utility("text", "step-0");
    @include apply-utility("weight", "regular");
    line-height: 1.5;
    text-transform: none;
    width: 28ch;
    padding: var(--space-xs);
    bottom: 6.25em;
    left: 0;
  }

  &:after {
    content: "";
    width: 0;
    height: 0;
    border-width: 2.5rem 0.815rem 0 0.815rem;
    border-color: var(--color-brightTurquoise) transparent transparent
      transparent;
    border-style: solid;
    position: absolute;
    bottom: 5.5rem;
    left: 2rem;
    display: none;
  }

  &:focus,
  &:hover {
    &:before,
    &:after {
      display: block;
    }
  }

  &:focus {
    outline: none;
    background: linear-gradient(
      transparent 10%,
      0,
      var(--color-brightTurquoise) 90%,
      0,
      transparent
    );

    color: var(--color-violet);
  }
}
