.keyvisual {
  height: min(66vh, 100vw);
  picture,
  svg {
    height: min(75%, 40.125rem);
    width: auto;
    aspect-ratio: 1;
    max-width: 100%;
    overflow: hidden;
  }

  .center {
    display: grid;
    place-items: center;
    position: relative;
    height: 100%;
  }

  .center > * {
    grid-row: 1;
    grid-column: 1;
  }

  &:hover path {
    //animation: dashmove 2s linear infinite;
  }
  path {
    stroke: #fff;
    stroke-width: 4;
    //stroke-dasharray: 8px;
  }

  @keyframes dashmove {
    to {
      stroke-dashoffset: 16px;
    }
  }
}

body:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 100vh;
  background-image: radial-gradient(
    ellipse farthest-side at 0% 0%,
    #3d065f,
    #6a115b00
  );
}

body[data-background="keyvisual"]:before {
  height: 120vh;
  background-image: linear-gradient(
      0deg,
      var(--color-violet),
      #002a 10%,
      #0020 40%
    ),
    radial-gradient(circle farthest-side, #001, #0029 50%, #0020 100%);
  animation: rainbow 20s ease-in-out infinite;
}

@keyframes rainbow {
  0%,
  20%,
  100% {
    background-color: #6a115b;
  }
  33.333%,
  53.333% {
    background-color: #32065b;
  }
  66.666%,
  86.666% {
    background-color: #079a91;
  }
}

.chrome-hidden {
  min-height: 100vh;
  min-height: 100dvh;
  overflow: hidden;

  main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-block: 8vh;
    justify-content: space-between;
    gap: 10vh;
  }

  .keyvisual {
    flex-grow: 1;
    height: 50vh;
    max-height: 70vh;
    margin-block: auto;
    position: relative;

    picture,
    svg {
      height: 100%;

      > img {
        width: 100%;
      }
    }
  }

  .center-logo {
    position: absolute;
    z-index: 20;
    width: min(89vh, 90vw);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    > svg {
      display: block;
      width: 100%;

      path {
        stroke: none;
      }
    }
  }
  h1 {
    position: relative;
    margin-inline: auto;
    max-width: 26ch;
    font-size: 7vmin;
  }
}
