.keyword-nav {
  padding: 0;
  display: block;
  list-style-type: none;

  > li {
    display: inline;
  }

  > li:not(:last-child) {
    &:after {
      content: "\00a0-\00a0";
    }
  }

  a {
    text-decoration: none;
    background: linear-gradient(
      0deg,
      var(--color-persianRose) 4px,
      0,
      transparent
    );
    background-size: 0 100%;
    transition: 0.2s ease-out;
    transition-property: background-size, outline-offset;
    background-repeat: no-repeat;

    &:hover {
      color: var(--color-persianRose);
      background-size: 100% 100%;
    }

    &:focus {
      outline: 1px solid var(--color-brightTurquoise);
      outline-offset: 5px;
    }
  }
}
