.partner-list {
  --icon-size: clamp(2.5rem, 1.818rem + 3.41vw, 4.375rem);

  summary {
    /* remove details triangle/arrow */
    list-style: none;
    cursor: pointer;
    border: 1px solid var(--color-persianRose);
    padding: var(--space-s);

    /* make sure it has a minimum height of two lines */
    min-height: calc(3em + var(--space-s) * 2);
    background: linear-gradient(
      var(--color-persianRose),
      var(--color-persianRose)
    );
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: 0.3s ease-out;
    transition-property: background-size;
    position: relative;
    margin-top: calc(var(--icon-size) + var(--space-s));

    &::marker {
      display: none;
    }

    &::-webkit-details-marker {
      display: none;
    }

    &:hover {
      background-size: 100% 100%;
      color: var(--color-violet);
    }

    &:focus-visible {
      outline: 2px solid var(--color-brightTurquoise);
      outline-offset: -8px;
    }

    &::before {
      content: "";
      display: block;
      width: var(--icon-size);
      height: var(--icon-size);
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 71 71'%3E%3Cpath stroke='%23FF209E' stroke-width='2' d='M36.5 0v71M71 36.5H0'/%3E%3C/svg%3E");
      background-size: 71px 71px;
      background-position: center center;
      position: absolute;
      left: 0;
      top: calc((var(--icon-size) + var(--space-s)) * -1);
      transition: transform 0.2s ease-out;
    }
  }

  &[open] {
    summary {
      background-size: 100% 100%;
      color: var(--color-violet);
    }
    summary::before {
      transform: rotate(45deg);
    }
  }

  ul {
    background: var(--color-persianRose);
    color: var(--color-violet);
    list-style-type: none;
    padding: var(--space-s);

    li {
      padding-block: var(--space-3xs);

      & + li {
        border-top: 1px solid;
      }
    }
  }
}
