.person {
  max-width: 37.5rem;
  position: relative;

  &__links {
    position: absolute;
    right: var(--space-3xs);
    top: var(--space-3xs);
    background: rgba(get-color("violet"), 0.4);
    transition: background 0.2s ease-out;

    &:hover {
      background: rgba(get-color("violet"), 0.9);
    }
  }

  &__social-link {
    &:hover {
      color: var(--color-brightTurquoise);
    }

    &:focus-visible {
      outline: 1px solid var(--color-brightTurquoise);
      outline-offset: 0px;
      color: var(--color-brightTurquoise);
      background: var(--color-violet);
    }
  }
  .icon {
    width: 2.75rem;
    height: 2.75rem;
    padding: var(--space-2xs);
  }
}
