.person {
  max-width: 37.5rem;
  position: relative;

  &__image {
    //filter: grayscale(1) contrast(1.2);
  }

  &__links {
    position: absolute;
    right: var(--space-2xs);
    top: var(--space-2xs);
    background: rgba(get-color("violet"), 0.4);
    transition: background 0.2s ease-out;
    z-index: 3;
    margin: 0;

    &:hover {
      background: rgba(get-color("violet"), 0.9);
    }
  }

  &__social-link {
    &:hover {
      color: var(--color-brightTurquoise);
    }

    &:focus-visible {
      outline: 1px solid var(--color-brightTurquoise);
      outline-offset: 0px;
      color: var(--color-brightTurquoise);
      background: var(--color-violet);
    }
  }
  .icon {
    width: 2.75rem;
    height: 2.75rem;
    padding: var(--space-2xs);
  }

  picture {
    position: relative;
  }

  picture:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 2;
    inset: 0;
    top: 95%;
    bottom: 2.5%;
    background: linear-gradient(
      0deg,
      var(--color-brightTurquoise) 50%,
      0,
      var(--color-persianRose)
    );
    background-size: 100% 100%;
    background-repeat: no-repeat;
    mix-blend-mode: color;
    opacity: 0.6;
  }

  &:after {
    content: "";
    display: block;
    width: min(8.125rem, 50%);
    height: 2px;
    background: var(--color-persianRose);
    margin-top: var(--space-xs);
  }
}
