.section-ten-x {
  position: relative;
  img {
    margin-inline: auto;
    height: auto;
  }

  p {
    margin-block-start: -0.5em;
  }
}

body,
// .section-services,
.section-intro {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 1441 562'%3E%3Cpath stroke='%23fff' stroke-linecap='round' stroke-width='2' opacity='0.2' d='M721 1 1 361M561 1l-80 40M241 161l80-40M81 241 1 281M801 41 1 441M1 521l800-400M81 561l720-360M241 561l80-40m160-80 80-40m160-80 80-40M721 321 321 121M481 121l320 160M481 41l320 160M561 1l240 120M721 1l80 40M561 321 241 161M561 401 241 241M481 441 81 241M321 441 1 281M321 521 1 361M241 561 1 441M81 561 1 521M81 241.8v319M161 281.8v238M241 241.8v319M321 121.8v399M401 161.8v239M481 121.8v318M561 1.8V399.7M641 40.8v240M721 1.8v318M1 520.8v-79.5M1 360.8v-79.6M801 41.3v80M801 201.3v80'/%3E%3C/svg%3E");
  background-size: clamp(120rem, 120vw, 150rem) auto;
  background-repeat: no-repeat;
  position: relative;
}

body {
  background-position: center bottom -18vw;
}

.section-intro {
  background-position: center bottom;

  p {
    max-width: 64ch;
    margin-inline: auto;
  }
}

.section-services {
  position: relative;
  padding-block: var(--space-2xl);
  // background-position: left 50vw top;
  // background-repeat: no-repeat;

  &:before {
    --grid-height: clamp(40rem, 50vw, 54rem);
    --grid-width: calc(var(--grid-height) * 1.4235);
    content: "";
    position: absolute;
    left: 0;
    top: 20%;
    right: 0;
    height: var(--grid-height);
    background-image: url("./images/bg-grid.svg");
    background-position: left top;
    background-size: auto 100%;

    opacity: 0.2;
    transform: skewY(-26.5deg);
    animation: gridmove calc(8s * 4) linear infinite;
  }
}

@keyframes gridmove {
  to {
    background-position: calc(var(--grid-width) * -1) 0px;
  }
}
