.single-format {
  &__header {
    position: relative;

    &.show-glitch:after {
      content: "";
      position: absolute;
      inset: 0;
      top: 90%;
      bottom: 5%;
      background: linear-gradient(
        0deg,
        var(--color-brightTurquoise) 50%,
        0,
        var(--color-persianRose)
      );
      mix-blend-mode: color;
      opacity: 1;
    }
  }

  &__image {
    position: relative;
    // filter: brightness(105%) contrast(110%) grayscale(1);
  }

  .details {
    max-width: 68rem;
    margin-inline: auto;
    display: grid;
    gap: 1rem;

    &__headline {
      order: 1;
      @include apply-utility("text", "step-3");
      color: var(--color-brightTurquoise);
    }

    &__body {
      order: 3;
    }

    &__sidebar {
      order: 2;
    }

    @include media-query("md") {
      grid-template-columns: 2fr 1fr;
      gap: 0 4rem;

      &__headline {
        grid-column: 1;
        grid-row-start: 0;
        grid-row-end: 1;
      }

      &__body {
        grid-row: 1/-1;
        grid-column: 1/2;
      }

      &__sidebar {
        grid-row: span 2;
        margin-top: 0;
      }
    }

    .info {
      display: grid;
      grid-template-columns: minmax(10ch, 1fr) 2fr;
      gap: 0.5rem;

      dd {
        span:first-child {
          display: block;
        }
      }

      address {
        span {
          display: block;
        }
      }
    }
  }
}
