.site-head {
  padding-block: var(--space-m-l);

  .cluster {
    --cluster-justification: center;
    --cluster-gap: var(--space-xs-s);
    --cluster-gap-vertical: var(--space-s);

    > li:first-child {
      width: 100%;
    }

    > li a {
      transition: 0.2s ease-out;
      text-decoration: none;
      transition-property: background-size, outline-offset;

      &:focus-visible {
        outline: 1px solid var(--color-brightTurquoise);
        outline-offset: 5px;
      }
    }

    > li:not(:first-child) a {
      background: linear-gradient(
        0deg,
        var(--color-brightTurquoise) 1px,
        0,
        transparent
      );
      background-repeat: no-repeat;
      background-size: 0 100%;

      &:hover,
      &[data-state="active"] {
        background-size: 100% 100%;
        color: var(--color-brightTurquoise);
      }
    }

    @include media-query("lg") {
      --cluster-gap: var(--space-s-m);
      --cluster-gap-vertical: var(--space-m);
    }
  }
}

.logo {
  max-width: 45%;
  height: auto;
  margin-inline: auto;
  display: block;

  &__stage {
    aspect-ratio: 53/10;
    width: 16.25rem;
    max-width: 100%;
    display: flex;
    perspective: 800px;
    margin-inline: auto;
  }

  &__10,
  &__d {
    width: 28.962264%;
  }

  &__10 {
    margin-right: 3.30188679%;
  }

  &__d {
    margin-left: 3.30188679%;
  }

  &__gt,
  &__lt {
    width: 17.31132075%;
    transition: color 0.4s ease-out;
  }

  &__gt {
    margin-right: 0.8490566%;
  }

  @media (any-pointer: fine) and (any-hover: hover) {
    &:hover {
      .logo__gt,
      .logo__lt {
        --duration: 0.6s;
        rotate: 180deg;
        translate: 104% 0;
        color: var(--color-brightTurquoise);
        transition: rotate calc(var(--duration) / 2) ease-in-out,
          translate calc(var(--duration) * 0.8) calc(var(--duration) * 0.3)
            ease-out,
          color calc(var(--duration) * 0.4) calc(var(--duration) * 0.6) ease-out;
      }

      .logo__lt {
        translate: -104% 0;
      }
    }
  }
}
