.sticky {
  position: fixed;
  right: -2px;
  top: 50%;
  z-index: 999;
  width: 14rem;
  background: rgba(13, 5, 69, 0.7);
  border: 2px solid var(--color-persianRose);
  padding: var(--space-s);
  backdrop-filter: blur(4px);

  @media (max-width: 40em) {
    width: 10rem;
  }

  &__close svg {
    margin-left: auto;
    cursor: pointer;
  }

  a {
    background-color: var(--color-persianRose);
    border-color: var(--color-persianRose);
    color: #ffffff;

    &:hover {
      border-color: var(--color-brightTurquoise);
    }
  }

  &.closed {
    display: none;
  }
}
