---
title: "Error"
layout: "layouts/home.njk"
permalink: '/404.html'
---

<div class=" wrapper section-intro text-center" style="margin-block-start: var(--space-2xl);">
  <h1 class="text-bright-turquoise text-step-4" lang="en" aria-label="10 times digital health">Error 404</h1>
  <hr class="highlight-divider">
  <div >
    <p class="text-step-1 weight-bold">Es tut uns leid: Diese Seite ist leider nicht erreichbar.</p>
    <p class="text-step-0 text-center">
      Aber hier gibt es garantiert etwas zu entdecken: 
      <a href="/" style="color: var(--text-bright-turquoise)">Zur Startseite</a>
    </p>
  </div>
</div>