---
pagination:
  data: ctfl.formats
  size: 1
  alias: format
eleventyComputed:
  title: "{{ format.fields.title }}"
  heroImageUrl: "{{ format.fields.image | getSocialImagePath({ fill: 'center' }) }}"
layout: "layouts/home.njk"
permalink: "formate/{{ format.fields.title | slugify }}/index.html"
---

{% if format.fields.startDateTime and format.fields.endDateTime %}
  {% set isSameDay = helpers.isSameDay(format.fields.startDateTime, format.fields.endDateTime) %}
{% endif %}

<div class="wrapper single-format stack-xl" style="padding-block-start: var(--space-3xl);">
  <div class="single-format__header show-glitch">
    {% ctflPicture
        imgObj = format.fields.image,
        fit = "fill",
        imgWidth = "1200",
        imgHeight = "492",
        alt = "",
        widths = [300, 500, 800, 1200],
        sizes = "(min-width: 72.5em) 800px, 100vw",
        classes = "single-format__image"
    %}
  </div>

  <div class="details format-details stack-l-xl">
    <h1 class="details__headline">{{ format.fields.title }}</h1>
    <div class="details__body stack-m">
      {{ format.fields.description | renderRichTextAsHtml | safe  }}
    </div>
    <div class="details__sidebar stack-l">
      <div class="stack-m" style="border-top: 1px solid var(--color-persianRose); border-bottom: 1px solid var(--color-persianRose); padding-block: var(--space-m)">
        <dl class="info">
          <dt class="uppercase weight-bold color-persianRose text-step--1">Ort</dt>
          <dd>
            <address>
              <span>{{format.fields.location}}</span>
              <span>{{format.fields.locationStreet}}</span>
              <span>{{format.fields.locationZip}}</span>
            </address>
          </dd>
        </dl>
        <dl class="info">
          <dt class="uppercase weight-bold color-persianRose text-step--1">Zeit</dt>
          <dd>
            <span class="weight-bold" style="display: block;">{{ format.fields.startDateTime | formatDate("dd. MMMM yyyy") }}</span>
            <span>
              {{ format.fields.startDateTime | formatDate("HH:mm") }} Uhr -
                        {% if isSameDay %}
                {{ format.fields.endDateTime | formatDate("HH:mm") }} Uhr
                        {% endif %}
            </span>
            {% if not isSameDay %}
              <br>
              <span class="weight-bold" style="display: block;">{{ format.fields.endDateTime | formatDate("dd. MMMM yyyy") }}</span>
              <span>{{ format.fields.endDateTime | formatDate("HH:mm") }} Uhr</span>
            {% endif %}
          </dd>
        </dl>
        <dl class="info">
          <dt class="uppercase weight-bold color-persianRose text-step--1">Tickets</dt>
          <dd>
            <span>{{format.fields.ticketCount}}</span>
          </dd>
        </dl>
        {% if format.fields.ticketPrice %}
          <dl class="info">
            <dt class="uppercase weight-bold color-persianRose text-step--1">Preis</dt>
            <dd>
              <span>{{format.fields.ticketPrice}}</span>
            </dd>
          </dl>
        {% endif %}
      </div>

      <div class="stack-s">
        {% if format.fields.registrationLink %}
          <a href="{{format.fields.registrationLink}}" target="_blank" class="button button--full-width">Anmelden</a>
        {% elif format.fields.registrationEmail%}
          <a href="mailto:{{format.fields.registrationEmail}}" class="button button--full-width">Anmelden</a>
        {% endif %}

        {% if format.fields.programPdf %}
          <a class="button button--full-width" href="{{ format.fields.programPdf.fields.file.url}}" target="_blank">Programm</a>
        {% endif %}
      </div>
    </div>
  </div>

</div>