---
title: "Media"
layout: "layouts/home.njk"
permalink: /media/
---

<h1 class="sr-only text-bright-turquoise text-step-4">Medien</h1>

<div class="stack-3xl">
  <div class="wrapper | stack-xl">
    <hr class="highlight-divider">
    <h2 class="text-bright-turquoise text-step-4 text-center">Videos</h2>
    <section id="section2 media-tabs__videos">
      <div class="grid-switcher" style="
                  --gs-columns-sm: 1;
                  --gs-bp-md: 35rem;
                  --gs-columns-md: 2;
                  --gs-bp-lg: 65rem;
                  --gs-columns-lg: 3;
                  --gs-gap: 2rem;
                  --gs-gap-vertical: 2rem;
                  ">
        {% for id in ctfl.pageMedia.videoIds %}
          <div class="youtube">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ id }}?si=T8hs0XaJdn8jDJ_8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
          </div>
        {% endfor %}
      </div>
    </section>
  </div>

  <div class="wrapper | stack-xl">
    <hr class="highlight-divider">
    <h2 class="text-bright-turquoise text-step-4 text-center">Fotos</h2>
    <div class="media-tabs stack-l-xl">
      <section id="section1" class="media-tabs__photos">
        <div class="grid">
          <div class="grid-sizer"></div>
          {% for photo in ctfl.pageMedia.photos %}
            <div class="grid-item">
              {% ctflPicture
                      imgObj = photo,
                      fit = "fill",
                      imgWidth = "1720",
                      alt = "",
                      widths = [430, 860],
                      sizes = "(min-width: 72.5em) 433px, 100vw",
                      classes = "person__image"
                    %}
            </div>
          {% endfor %}
        </div>
      </section>
    </div>
  </div>
</div>

{% script src = "media.js" %}