---
pagination:
  data: ctfl.boards
  size: 1
  alias: board
layout: "layouts/home.njk"
permalink: /{{ board.fields.title | slug }}/
eleventyComputed:
  title: "{{ board.fields.title }}"
---

<div class="stack-3xl">
  <div class="wrapper stack-2xl" style="padding-block-start: var(--space-2xl);">
    <hr class="highlight-divider" aria-hidden="true">
    <h1 class="text-step-2 weight-light center-text">{{ board.fields.title }}</h1>

    {% if board.fields.members %}
      <div class="auto-grid" style="--auto-grid-min-size: 20rem; --auto-grid-gap: var(--space-xl);">
        {% for member in board.fields.members %}
          <div class="person stack-xs">
            {% if member.fields.photo %}
              {% set photo = member.fields.photo %}
              {% ctflPicture
                imgObj = photo,
                fit = "fill",
                imgWidth = "1200",
                imgHeight = "1200",
                alt = "",
                widths = [300, 600],
                sizes = "(min-width: 72.5em) 800px, 100vw",
                classes = "person__image"
              %}
            {% else %}
              {% picture
                src = "./src/images/poartrait-placeholder.png",
                alt = "",
                widths = [300, 600],
                sizes = "(min-width: 72.5em) 800px, 100vw",
                formats = ["avif", "webp", "png"],
                classes = "person__image"
              %}
            {% endif %}
            <div>
              <p class="leading-tight weight-light uppercase color-persianRose">{{ member.fields.name }}</p>
              <p>{{ member.fields.position }}</p>
            </div>
            <div class="cluster | person__links" style="--cluster-gap: 0;">
              {% if member.fields.linkedIn %}
                <a class="person__social-link" href="{{ member.fields.linkedIn }}" target="_blank">
                  <span class="sr-only">{{ member.fields.name }} auf linkedIn</span>
                  {% icon icon = "linkedin" %}
                </a>
              {% endif %}
              {% if member.fields.eMail %}
                <a class="person__social-link" href="mailto:{{ member.fields.eMail }}" >
                  <span class="sr-only">E-Mail an {{ member.fields.name }}</span>
                  {% icon icon = "mail" %}
                </a>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    {% endif %}

  </div>
  {% if (board.fields.aboutText) and (board.fields.aboutText) %}

  <div class="wrapper | center-text stack-l my-stack-space-3xl" style="--wrapper-max-width: 64ch;">
    <h2 class="text-step-4 color-brightTurquoise">{{ board.fields.aboutHeadline }}</h2>
    <p class="letterspace">
      {{ board.fields.aboutText | markdownFilter | safe }}
    </p>
  </div>
  {% endif %}
  <hr class="highlight-divider">

  <div class="wrapper">
    <h2 class="sr-only" lang="en">Andere Boards</h2>

    <ul class="board-grid board-grid--no-highlight">
      {% set otherBoards = helpers.filterCurrent(ctfl.pageHome.boards, board.fields.title) %}
      {% for board in otherBoards %}
        <li>{% board board %}</li>
      {% endfor %}
    </ul>
  </div>
</div>
