---
title: "Error"
layout: "layouts/home.njk"
permalink: '/404.html'
---

<div class=" wrapper section-intro center-text" style="margin-block-start: var(--space-2xl);">
  <h1 class="color-brightTurquoise text-step-4" lang="en" aria-label="10 times digital health">Error 404</h1>
  <hr class="highlight-divider">
  <div>
    <p class="text-step-1 weight-bold">Es tut uns leid: Diese Seite ist leider nicht erreichbar.</p>
    <p class="text-step-0">
      Aber hier gibt es garantiert etwas zu entdecken: 
      <a href="/" style="color: var(--color-brightTurquoise)">Zur Startseite</a>
    </p>
  </div>
</div>