---
title: "Impressum"
layout: "layouts/home.njk"
permalink: /impressum/
---

<div class="wrapper plain-html" style="--wrapper-max-width: 80ch; padding-block-start: var(--space-3xl);">
  <h1>Impressum</h1>
  <p>
    Inhaltlich Verantwortlicher gemäß § 1 Abs. 4 TMG, § 55 Abs. 1 RStV und § 55 Abs. 2 RStV:<br>
    Prof. Dr. David Matusiewicz<br>
    Kontaktdaten: david.matusiewicz@gmail.com, 0151/422 678 66<br>
    Adresse: 45739 Oer-Erkenschwick, Deutschland
  </p>
  <h2>Urheberrechte</h2>
  <p>Der gesamte Inhalt der gesamten Webseite von David Matusiewicz ist gesetzlich geschützt. Das Herunterladen, Abspeichern oder Ausdrucken einzelner Seiten und/oder Teilbereiche der Seiten ist nicht gestattet. Etwaige Copyrightvermerke dürfen nicht entfernt werden. Die Übernahme und Nutzung des Inhaltes der Sites bedarf der schriftlichen Zustimmung von David Matusiewicz.</p>
  <h2>Links</h2>
  <p>Es wird keine Haftung für verlinkte Websites und Inhalte übernommen. Die Nutzung von Links zu Seiten außerhalb der Webseite erfolgt in Eigenverantwortung der Nutzer.</p>
  <p>Die Homepage spiegelt die persönlichen Meinung des Verantwortlichen wider, nicht seiner verbundenen Organisationen.</p>
  <h2>Bildernachweis:</h2>
  <p>
    FOM/TOM Schulte<br>
    pixabay.de
  </p>
</div>