---
title: "Home"
layout: "layouts/home.njk"
permalink: /
---

<div class="keyvisual">
  <div class="center">
    <img class="bubble" src="/images/bubble.png" alt="">
    <img class="bubble bubble--glitch" src="/images/bubble.png" alt="">
    <img class="bubble bubble--glitch2" src="/images/bubble.png" alt="">
    <span class="glow"></span>
    <div class="glow glow--cyan"></div>

    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 802 802">
      <path stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m601 1 200 100-200 100M601 183.3V1l-92.3 46.3M601 401V201l200 100-200 100ZM601 401V201L401 301M601 401l200 100-200 100M401 501l200 100M601 801V601l200 100-200 100ZM401 701l200 100V601M401 501V301M201 401l200 100V301M401 701V501L201 601M201 92.4V1l93.6 46.9M220.4 191 201 201M201 1 1 101l200 100"/>
      <path stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M201 401V201l200 100M101 250 1 301l200 100V201M48.9 477.6 1 501l200 100M401 701 201 801V601M88.4 657 1 701l200 100V601M1 101v200M1 501v200M801 101v200M801 501v200"/>
    </svg>
  </div>
</div>

<div class="stack-2xl">
  <div class="wrapper | stack-xs center-text" style="--wrapper-max-width: 53rem;">
    <h1 class="color-brightTurquoise text-step-4">10x digital health</h1>
    <p class="letterspace">10 x D steht für innovative und exklusive Formate  im Gesundheitswesen.</p>
    <p class="letterspace">Unser Anspruch ist höchste verfügbare Qualität. Das fängt mit Design an und endet mit den Technologien und Partnern mit denen wir arbeiten. Im Team greifen wir auf rund 100 Jahre Expertise auf C-Level im Gesundheitswesen und Multi-Founding von erfolgreichen Branchenstartups zurück.</p>
  </div>

  <hr class="highlight-divider">

  <div class="wrapper | stack-xs center-text" style="--wrapper-max-width: 53rem;">
    <h2 class="text-step-4">Next Level Healthcare</h2>
    <p class="letterspace">Ein Ökosystem für das digitale Gesundheitswesen, für Startups und etablierte Akteure. Ein Think Tank – auch für andere Branchen. Eine People und Company Branding Company. Ein Networking Club. Ein Format. Und vieles mehr.</p>
    <p class="letterspace">Wir entwickeln und verbessern ständig unsere digitalen und analogen Formate. Das Unternehmen ist Transformation.</p>
  </div>

  <hr class="highlight-divider">


  <div class="wrapper" style="--wrapper-max-width: 125rem;">
    <ul class="keyword-nav | text-step-2 weight-light uppercase center-text">
      <li><a href="#">Events</a></li>
      <li><a href="#">Networking</a></li>
      <li><a href="#">Digitale Transformation </a></li>
      <li><a href="#">Startups</a></li>
      <li><a href="#">Marketing</a></li>
      <li><a href="#">Politikberatung</a></li>
      <li><a href="#">People branding</a></li>
    </ul>
  </div>

  <div class="ten-x-section | wrapper" style="--wrapper-max-width: 88rem;">
    <img src="images/rocket.webp" alt="">
    <p class="text-step-3 uppercase center-text leading-flat weight-bold">
      Bring <abbr tabindex="0" class="abbr-popup | color-brightTurquoise" title="10 x kommt aus der Raumfahrt und bedeutet, etwas mindestens 10 x besser zu machen (statt inkrementell) und hat sich als Sinnbild für exponentielle Technologien etabliert.">10x</abbr> foreward Digital Health and Next Generation Healthcare
    </p>
  </div>
</div>

<div class="wrapper stack-3xl">
  <h2 class="sr-only">10xd Leistungen</h2>
  <ul class="grid-switcher | text-step-2 weight-light uppercase" style="
    --gs-columns-lg: 2;
    --gs-gap: var(--space-2xl);
    --gs-bp-md: 45rem;
  ">
    <li><a class="image-link" href="#"><span aria-hidden="true" class="weight-bold">10xD</span> Management</a></li>
    <li><a class="image-link" href="#"><span aria-hidden="true" class="weight-bold">10xD</span> Management Board</a></li>
    <li><a class="image-link" href="#"><span aria-hidden="true" class="weight-bold">10xD</span> Scientific Board</a></li>
    <li><a class="image-link" href="#"><span aria-hidden="true" class="weight-bold">10xD</span> Management Board</a></li>
  </ul>

  <h2 class="sr-only">Partner</h2>
  <div class="grid-switcher" style="
    --gs-columns-lg: 2;
    --gs-gap: var(--space-2xl);
    --gs-bp-md: 45rem;
  ">
    <details class="partner-list">
      <summary class="text-step-2 weight-light uppercase">Kooperations-Partner</summary>
      <ul>
        <li>Handelsblatt Digital Health</li>
        <li>Health & Care Management (HCM Magazin)</li>
        <li>KU Gesundheitsmanagement</li>
        <li>Medhochzwei Verlag</li>
      </ul>
    </details>
    <details class="partner-list">
      <summary class="text-step-2 weight-light uppercase">Medienpartner</summary>
      <ul>
        <li>Handelsblatt Digital Health</li>
        <li>Health & Care Management (HCM Magazin)</li>
        <li>KU Gesundheitsmanagement</li>
        <li>Medhochzwei Verlag</li>
        <li>Medizinisch Wissenschaftliche Verlagsgesellschaft (MWV)</li>
        <li>Rheinische Post</li>
        <li>Springer Gabler</li>
        <li>Thieme Verlag</li>
      </ul>
    </details>
  </div>

  <a href="#" class="join-link | color-brightTurquoise uppercase text-step-2 leading-flat weight-bold">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 421 421" aria-hidden="true">
      <path stroke-width="2" stroke="currentColor" d="M421 52.6 315.7 0 210.6 52.6 105.2 0 0 52.6V158l105.3 52.6L0 263.1v105.3L105.3 421l105.2-52.6L315.8 421 421 368.4V263l-105.3-52.6L421 157.9V52.6Z"/>
    </svg>
    <span>Join<br>10XD</span>
  </a>

  <figure>
    <blockquote class="text-step-2 center-text weight-light">
      <span aria-hidden="true">"1N73LL1G3NC3 15 7H3 4B1L17Y 70 4D4P7"</span>
      <span class="sr-only" lang="en">Intelligence is the ability to adapt</span>
    </blockquote>
    <figcaption class="center-text">
      <span aria-hidden="true" class="text-step-2 weight-light">573ph3n H4wk1ng</span>
      <span class="sr-only">Stephen Hawking</span>
    </figcaption>
  </figure>
</div>