---
title: "kontakt"
layout: "layouts/home.njk"
permalink: /kontakt/
---


  <div class="wrapper stack-xl" style="padding-block-start: var(--space-2xl);">
    <h1 class="color-brightTurquoise text-step-4">Kontakt</h1>

    <p>
      10X DIGITAL HEALTH GmbH i.Gr.<br>
      31 Königsallee, 40212 Düsseldorf<br>
      Deutschland<br>
      <a href="mailto:kontakt@10xd.de">E-Mail schreiben</a>
    </p>

  </div>
