---
title: "Impressum"
layout: "layouts/home.njk"
permalink: /leistungen/
---

<div class="wrapper plain-html" style="--wrapper-max-width: 65rem; padding-block-start: var(--space-3xl);">
  <h1>Leistungen</h1>

  <ul class="grid-switcher | text-step-2 weight-light uppercase" style="
  --gs-columns-lg: 2;
  --gs-gap: var(--space-2xl);
  --gs-bp-md: 45rem;
">
    <li><a class="image-link" href="#">Events</a></li>
    <li><a class="image-link" href="#">Networking</a></li>
    <li><a class="image-link" href="#">Digitale Transformation </a></li>
    <li><a class="image-link" href="#">Startups</a></li>
    <li><a class="image-link" href="#">Marketing</a></li>
    <li><a class="image-link" href="#">Politikberatung</a></li>
    <li><a class="image-link" href="#">People branding</a></li>
  </ul>
</div>