---
title: "10xD Magazin"
layout: "layouts/home.njk"
permalink: /magazin/
---

{% include "partials/magazine-abo-sticky.html" %}

<div class="grid-background stack-2xl | magazine">
  <div class="wrapper stack-xl" style="padding-block-start: var(--space-2xl);">
    <h1 class="color-brightTurquoise text-step-4 sr-only">10xD Magazin</h1>

    <div class="stack-xl-2xl">
      {% for magazine in ctfl.magazines %}
        <article id="{{ magazine.fields.focus | slugify }}" class="format | sidebar-left"
          style="
            --sidebar-width: clamp(40rem, 60vw, 50rem);
            --sidebar-gap: var(--space-l);
            --sidebar-gap-vertical: var(--space-s);
            --sidebar-threshold: 20rem;
            flex-direction: row-reverse;"
        >
          <div>
            {% ctflPicture
              imgObj = magazine.fields.magazinCover,
              fit = "fill",
              imgWidth = "1024",
              imgHeight = "500",
              alt = "",
              widths = [300, 500, 800, 1024],
              sizes = "(min-width: 72.5em) 1290px, 100vw",
              classes = "magazine__image"
            %}
          </div>
          <div class="adjust | stack-m">
            <div class="stack-m">
              <div class="stack-2xs">
                <h2 class="text-step-1 uppercase" style="hyphens: auto;">Ausgabe {{loop.revindex}}</h2>
                <p class="letterspace">
                  {{ magazine.fields.publicationDate | dateFormat("MMMM yyyy") }}
                  <span style="margin-left: 2rem">{{ magazine.fields.articles | length}} Artikel</span>
                </p>
              </div>
              <div>
                <p class="letterspace">
                  <span class="color-brightTurquoise">Schwerpunkt:</span>
                  <br>{{ magazine.fields.focus}}
                </p>
              </div>
            </div>
            <a class="button" style="pointer-events: none">Zum Online-Magazin</a>

            <a target="blank" href="{{ magazine.fields.linkToOnlineMagazine }}" class="format__link">
              <span class="sr-only">Zum Magazin: {{ magazine.fields.focus }}</span></a>
          </div>
        </article>
        <div class="magazine__articles | grid-switcher" style="
                    --gs-columns-sm: 1;
                    --gs-bp-mg: 83em;
                    --gs-columns-md: 3;
                    --gs-bp-lg: 90em;
                    --gs-columns-lg: 2;
                    --gs-gap: var(--space-xl);
                    --gs-gap-vertical: var(--space-xl);
                    ">
          {% for article in magazine.fields.articles %}

            <article class="{% if article.fields.premiumArticle %}magazine__article--premium{% endif %} magazine__article | stack-xl" aria-label="{{ article.fields.headline }}">
              <div class="content | stack-s">
                <p class="number">{{ "0" if loop.index < 10 }}{{ loop.index }}</p>
                {% ctflPicture
                imgObj = article.fields.author.fields.portrait,
                fit = "fill",
                focus = "face",
                imgWidth = "800",
                imgHeight = "400",
                alt = "",
                widths = [300, 500, 800],
                sizes = "(min-width: 72.5em) 800px, 100vw",
                classes = "single-format__image"
                %}
                <h2 class="text-step-1 weight-light color-persianRose my-stack-space-m">{{ article.fields.headline }}</h2>
                <p>{{article.fields.author.fields.name}}</p>
              </div>
              {% if article.fields.premiumArticle %}
                <div class="premium-content | stack-s">
                  <button class="button">Code eingeben</button>
                  <a href="mailto:info@10xd.de?subject=10xD Magazin Premium Abo kaufen">Premium Abo kaufen</a>
                </div>
                <p class="premium-badge">Premium</p>
              {% endif %}
              <div class="divider"></div>
              {% set url = "/magazin/" + article.fields.headline | slugify %}
              <a href="{{ url }}" class="article__link">
                <span class="sr-only">Zum Artikel: {{ article.fields.headline }}</span></a>
            </article>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<script>
  function removePremium() {
    // Remove premium class from all articles
    var articles = document.querySelectorAll(".magazine__article--premium");
    articles.forEach(function (article) {
      article
        .classList
        .remove("magazine__article--premium");

      // Remove the premium-content div
      article
        .querySelector(".premium-content")
        .remove();

      article
        .querySelector(".premium-badge")
        .remove();
    });
  }

  document.addEventListener("DOMContentLoaded", function () {
    // Check if the user is already authenticated
    var isAuthenticated = localStorage.getItem("isAuthenticated");

    if (isAuthenticated === "true") {
      removePremium()
    }

    var buttons = document.querySelectorAll(".magazine__article--premium button");

    function checkPassword(event) {

      var enteredPassword = prompt("Premium Code eingeben:");

      if (enteredPassword === "10xDMag") {

        removePremium();

        // Store flag in localStorage
        localStorage.setItem("isAuthenticated", "true");

      } else {
        alert("Falscher Code – erneut eingeben oder Premium Abo kaufen.");
      }
    }

    buttons.forEach(function (button) {
      button.addEventListener("click", checkPassword);
    });

  });
</script>