---
title: "10xD Magazin"
layout: "layouts/home.njk"
permalink: /magazin/premium-abo/
---

{% set abo = ctfl .magazinePremiumAbo[0] .fields %}

<div
  class="wrapper single-format stack-xl"
  style="padding-block-start: var(--space-3xl)"
>
  <div class="single-format__header show-glitch">
    {% ctflPicture imgObj = abo.heroImage, fit = "fill", imgWidth = "1193",
    imgHeight = "492", alt = "", widths = [300, 500, 800, 1193], sizes =
    "(min-width: 72.5em) 800px, 100vw", classes = "single-format__image" %}
  </div>

  <div class="details format-details stack-l-xl">
    <h1 class="details__headline">{{ abo.headline }}</h1>
    <div class="details__body stack-m">
      {{ abo.content | renderRichTextAsHtml | safe }}

      <div id="subscription-checkboxes">
        <div>
          <input type="checkbox" id="agb" />
          <label class="text-step--1" for="agb">AGB Lorem Ipsum</label>
        </div>
        <div>
          <input type="checkbox" id="privacy" />
          <label class="text-step--1" for="privacy">
            Datenschutz Lorem Ipsum
          </label>
        </div>
        <div>
          <input type="checkbox" id="cancellation" />
          <label class="text-step--1" for="cancellation">
            Widerrufsbelehrung Lorem Ipsum
          </label>
        </div>
      </div>

      <a id="subscribe-link" role="link" aria-disabled="true" class="button">
        Abonnieren
      </a>
    </div>
    <div class="details__sidebar stack-l">
      <div
        class="stack-m"
        style="
          border-top: 1px solid var(--color-persianRose);
          border-bottom: 1px solid var(--color-persianRose);
          padding-block: var(--space-m);
        "
      >
        {% for fact in abo.keyFacts %}
        <dl class="info">
          <dt class="weight-bold color-persianRose uppercase text-step--1">
            {{ fact.fields.headline }}
          </dt>
          <dd>
            <span>
              {{ fact.fields.content | renderRichTextAsHtml | safe }}
            </span>
          </dd>
        </dl>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<script>
  const subscribeLink = document.getElementById("subscribe-link");
  const enc = encodeURIComponent;
  const mail = {
    to: "info@10xd.de",
    subject: enc("10xD Magazin Premium Abo"),
    body: enc("Hallo, \r\n\r\nich möchte das 10xD Premium Abo kaufen."),
  };
  const subscriptionHref = `mailto:${mail.to}?subject=${mail.subject}&body=${mail.body}`;

  const subscriptionCheckboxes = document
    .getElementById("subscription-checkboxes")
    .querySelectorAll("input[type='checkbox']");

  let checkedBoxesCount = 0;

  subscriptionCheckboxes.forEach((checkbox) => {
    checkbox.addEventListener("change", (e) => {
      checkedBoxesCount += e.currentTarget.checked ? 1 : -1;

      // disable Link if checkboxes are not selected
      // https://www.scottohara.me/blog/2021/05/28/disabled-links.html
      if (checkedBoxesCount === subscriptionCheckboxes.length) {
        subscribeLink.removeAttribute("aria-disabled");
        subscribeLink.removeAttribute("role");
        subscribeLink.setAttribute("href", subscriptionHref);
      } else {
        subscribeLink.setAttribute("aria-disabled", "true");
        subscribeLink.setAttribute("role", "link");
        subscribeLink.removeAttribute("href");
      }
    });
  });
</script>
