---
title: "Presse"
layout: "layouts/home.njk"
permalink: /presse/
---

<div class="grid-background stack-2xl">
  <div class="wrapper stack-2xl" style="padding-block-start: var(--space-2xl);">
    <h1 class="color-brightTurquoise text-step-4">Presse</h1>

    <a href="/downloads/10xD.vcf">Kontakt runterladen</a>
  </div>


</div>