---
pagination:
  data: ctfl.formats
  size: 1
  alias: format
eleventyComputed:
  title: "{{ format.fields.title }}"
layout: "layouts/home.njk"
permalink: "formate/{{ format.fields.title | slugify }}/index.html"
---

{% if format.fields.startDateTime and format.fields.endDateTime %}
    {% set sameDay = helpers.sameDay(format.fields.startDateTime, format.fields.endDateTime) %}
{% endif %}


<div class="wrapper single-format stack-xl" style="padding-block-start: var(--space-3xl);">
    <div class="single-format__header">
    {% ctflPicture
        imgObj = format.fields.image,
        fit = "fill",
        imgWidth = "1193",
        imgHeight = "492",
        alt = "",
        widths = [300, 500, 800, 1193],
        sizes = "(min-width: 72.5em) 800px, 100vw",
        classes = "single-format__image"
    %}
    </div>

    <div class="format-details stack-l-xl">
        <h1 class="format-details__headline">{{ format.fields.title }}</h1>
        <div class="format-details__body stack-m">
            {{ format.fields.description | renderRichTextAsHtml | safe  }}
        </div>
        <div class="format-details__sidebar stack-l">
            <div class="stack-m" style="border-top: 1px solid var(--color-persianRose); border-bottom: 1px solid var(--color-persianRose); padding-block: var(--space-m)">
                <dl class="details">
                    <dt class="weight-bold color-persianRose uppercase text-step--1">Ort</dt>
                    <dd>
                        <address>
                            <span>{{format.fields.location}}</span>
                            <span>{{format.fields.locationStreet}}</span>
                            <span>{{format.fields.locationZip}}</span>
                        </address>
                    </dd>
                </dl>
                <dl class="details">
                    <dt class="weight-bold color-persianRose uppercase text-step--1">Zeit</dt>
                    <dd>
                        <span class="weight-bold" style="display: block;">{{ format.fields.startDateTime | dateFormat("dd. MMMM yyyy") }}</span>
                        <span>
                        {{ format.fields.startDateTime | dateFormat("HH:mm") }} Uhr -
                        {% if sameDay %}
                            {{ format.fields.endDateTime | dateFormat("HH:mm") }} Uhr
                        {% endif %}
                        </span>
                        {% if not sameDay %}
                        <br>
                        <span class="weight-bold" style="display: block;">{{ format.fields.endDateTime | dateFormat("dd. MMMM yyyy") }}</span> 
                        <span>{{ format.fields.endDateTime | dateFormat("HH:mm") }} Uhr</span>
                        {% endif %}
                    </dd>
                </dl>
                <dl class="details"> 
                    <dt class="weight-bold color-persianRose uppercase text-step--1">Tickets</dt>
                    <dd>
                        <span>{{format.fields.ticketCount}}</span>
                        <span>{{format.fields.ticketPrice}}</span>
                    </dd>
                </dl>
            </div>
            {% if format.fields.registrationLink %}
            <a href="{{format.fields.registrationLink}}" target="_blank" class="button button--full-width">Anmelden</a>
            {% elif format.fields.registrationEmail%}
            <a href="mailto:{{format.fields.registrationEmail}}" class="button button--full-width">Anmelden</a>
            {% endif %}
        </div>
    </div>

</div>