---
title: "Standorte"
layout: "layouts/home.njk"
permalink: /standorte/
---

<div class="grid-background">
  <div class="wrapper stack-xl" style="--wrapper-max-width: 64rem; padding-block-start: var(--space-2xl);">
    <h1 class="color-brightTurquoise text-step-4">{{ ctfl.pageLocations.title }}</h1>

    {% for location in ctfl.pageLocations.locations %}
      <article class="stack-2xs">
        {% ctflPicture
          imgObj = location.fields.image,
          imgWidth="1024",
          imgHeight="340",
          fit="fill",
          widths=[300, 500, 1024],
          sizes = "(min-width: 50em) 34.75rem, 100vw",
          classes = "location__image"
        %}
        <h2 class="text-step-1 uppercase my-stack-space-s">{{ location.fields.title }}</h2>
        <p>{{ location.fields.address | markdownFilter | safe }}</p>
      </article>
    {% endfor %}
  </div>
</div>