---
title: "Standorte"
layout: "layouts/home.njk"
permalink: /standorte/
---

<div class="grid-background">
  <div class="wrapper stack-xl" style="padding-block-start: var(--space-2xl);">
    <h1 class="color-brightTurquoise text-step-4">{{ ctfl.pageLocations.title }}</h1>

    {% for location in ctfl.pageLocations.locations %}
      <article class="format | sidebar-left"
        style="
          --sidebar-width: clamp(40rem, 60vw, 50rem);
          --sidebar-gap: var(--space-l);
          --sidebar-gap-vertical: var(--space-s);
          --sidebar-threshold: 20rem;
          flex-direction: row-reverse;"
      >
        <div>
          {% ctflPicture
            imgObj = location.fields.image,
            imgWidth="1024",
            imgHeight="340",
            fit="fill",
            widths=[300, 500, 1024],
            sizes = "(min-width: 50em) 34.75rem, 100vw",
            classes = "format__image"
          %}
        </div>
        <div class="stack-2xs">
          <h2 class="text-step-1 uppercase my-stack-space-s">{{ location.fields.title }}</h2>
          <p class="letterspace">{{ location.fields.address | markdownFilter | safe }}</p>
        </div>
      </article>
    {% endfor %}
  </div>
</div>