---
title: "Event"
layout: "layouts/home.njk"
permalink:
  serverless: /test/
---

<h1>Test</h1>
{% test "./src/images/bubble.png" %}

{% set imgUrl = ctfl.pageServices.services[0].fields.image.fields.file.url%}
{% picture
  src = imgUrl,
  alt = "",
  widths = [300, 500, 1024],
  sizes = "(min-width: 40em) 40.1875rem, 100vw",
  formats = ["webp", "png"],
  loading = "eager"
%}