---
pagination:
  data: ctfl.textPages
  size: 1
  alias: data
eleventyComputed:
  title: "{{ data.fields.title }}"
  content: data.fields.content
layout: "layouts/home.njk"
permalink: "{{ data.fields.url }}/index.html"
---

<div class="wrapper plain-html" style="--wrapper-max-width: 80ch; padding-block-start: var(--space-3xl);">
  <h1>{{ data.fields.title }}</h1>
  {# {{ data.fields.content | renderRichTextAsHtml | safe }} #}
</div>