// First up: config and functions
@import "config";
// Next: pull in gorko for design tokens
@import "../../node_modules/gorko/gorko.scss";
@import "reset";
// @import "fonts";

html {
  font-size: clamp(100%, 35.7% + 0.71vw, 125%);
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  background: var(--color-violet);
  color: var(--color-white);
  @include apply-utility("text", "step-0");
}

h1,
h2,
h3,
h4 {
  @include apply-utility("leading", "flat");
  text-transform: uppercase;
}

// High contrast selection because it can help visually-impaired
// folks read the text easier
::selection {
  color: var(--color-violet);

  // We set this as an RGBA because that’s how you get a solid color, by using 0.99
  // alpha value. Browsers are wild.
  background: rgba(get-color("brightTurquoise"), 0.99);
}

address {
  font-style: normal;
}
//Utilities
@import "utilities/center-text";
@import "utilities/inline-x";
@import "utilities/letterspace";
@import "utilities/sr-only";
@import "utilities/uppercase";

//Layout
@import "layout/auto-grid";
@import "layout/board-grid";
@import "layout/cluster";
@import "layout/grid-switcher";
@import "layout/sidebar";
@import "layout/stack";
@import "layout/wrapper";

//Blocks
@import "blocks/abbr-popup";
@import "blocks/article";
@import "blocks/button";
@import "blocks/event-form";
@import "blocks/format";
@import "blocks/highlight-divider";
@import "blocks/image-link";
@import "blocks/join-link";
@import "blocks/keyword-nav";
@import "blocks/keyvisual";
@import "blocks/location";
@import "blocks/magazine";
@import "blocks/magazine-abo-sticky";
@import "blocks/media";
@import "blocks/member";
@import "blocks/partner-list";
@import "blocks/person";
@import "blocks/plain-html";
@import "blocks/press-list";
@import "blocks/service";
@import "blocks/single-format";
@import "blocks/site-foot";
@import "blocks/site-head";
@import "blocks/slider";
@import "blocks/youtube";

@import "blocks/sections";
