<div class="sticky | stack-s">
  <a class="sticky__close">
    <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M3 2L20 20" stroke="white" stroke-width="3" />
      <path d="M20 2L2 20" stroke="white" stroke-width="3" />
    </svg>
  </a>
  <p class="weight-bold">10xD auf LinkedIn</p>
  <a href="https://www.linkedin.com/connect-services/?session_redirect=https%3A%2F%2Fwww.linkedin.com%2Fcompany%2F10xdde%2F" target="blank" class="button">Folgen</a>
</div>

{% script src="close-sticky.js" %}