<div class="sticky | stack-s">
  <a class="sticky__close">
    <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M3 2L20 20" stroke="white" stroke-width="3"/>
      <path d="M20 2L2 20" stroke="white" stroke-width="3"/>
    </svg>
  </a>
  <p class="weight-bold">Newsletter abonnieren</p>
  <a href="https://shorturl.at/cdyGP" target="blank" class="button">Abonnieren</a>
</div>

<script>
  let close = document.querySelector("a.sticky__close");
  let sticky = document.querySelector(".sticky");

  close.addEventListener('click', e => {
    sticky
      .classList
      .add("closed");
  });
</script>