<footer class="site-foot">
  <div class="wrapper center-text text-step-1 uppercase">
    <ul class="site-foot__social | cluster" role="list" style="--cluster-justification: center; --cluster-gap: var(--space-m);">
      <li>
        <a href="https://www.instagram.com/10xd_official?igsh=a3JicHJrNXR1d3Yy" target="blank">{% icon icon = "instagram" %}</a>
      </li>
      <li>
        <a href="https://youtube.com/@10xdigitalhealth?si=Qua1ZGgrNGqfB7lh" target="blank">{% icon icon = "youtube" %}</a>
      </li>
      <li>
        <a href="https://www.linkedin.com/company/10xdde/?originalSubdomain=de" target="blank">{% icon icon = "linkedin-stroke" %}</a>
      </li>
      <li>
        <a href="mailto:info@10xd.de" target="blank">{% icon icon = "mail-stroke" %}</a>
      </li>
    </ul>

    <div class="site-foot__links">
      <a href="/impressum/" {{ helpers.getLinkActiveState("/impressum/", page.url) | safe }}>Impressum</a>
      |
      <a href="/datenschutz/" {{ helpers.getLinkActiveState("/datenschutz/", page.url) | safe }}>Datenschutz</a>
      |
      <a href="/presse/" {{ helpers.getLinkActiveState("/presse/", page.url) | safe }}>Presse</a>
    </div>
  </div>
</footer>