<header class="site-head">

  <div class="wrapper">
    <a href="/" class="logo">
      <span class="sr-only">Zehn X D – Startseite</span>
      {% include "svg/10xd.svg" %}
    </a>
    <nav aria-label="Webseite">
      <ul class="cluster uppercase">
        <li>
        </li>
        {% for item in navigation.items %}
        <li>
          <a href="{{ item.url }}" {{ helpers.getLinkActiveState(item.url, page.url) | safe }}>
            {{ item.text }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </nav>
  </div>

</header>